.bloc-page{
position: relative;
width: 100%;
}

.container-loader{
    z-index: 5;
    position: fixed;
    width: auto;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
    margin: 0;
    animation: loader-start 1.50s 1.20s forwards,
    loader-end 0.01s 2.70s forwards;
}

@keyframes loader-start{
    0%{
    background-color: rgba(255, 255, 255, 1);
    }100%{
    background-color: rgba(255, 255, 255, 0);
    display: none;
    }
}

@keyframes loader-end{
    to{
        right: unset;
        bottom: unset;
        width: 0;
        height: 0;
    }
}