.container{
/*     height: 60rem; */
    background: $color-background-elements;
    padding: 1rem 20rem 1rem 20rem;
/*     5rem 1rem 5rem; */

    display: grid;
    grid-template-columns: repeat(2, 2fr);
    row-gap: 2rem;
    & h2{
        grid-column: span 2;
    }
}