main{
    @include padding-main;
    background: $color-background-elements;
}

.container{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    @include margin-content;
    margin-top: 2rem;
    grid-column-gap: 6rem;
    grid-row-gap: 5rem;
    @include max-media("mobile"){
        grid-template-columns: 1fr;
        grid-row-gap: 1rem;
        margin-bottom: 3rem;;
    }
    @include min-media("mobile-down"){
        grid-gap: 2rem;
    }
}

.container-restaurant{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 100%;
    background-image:url("../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    background-repeat: no-repeat;
/*     background-attachment: fixed; */
    background-position: center; 
    background-size: 100% auto;
    background-size: cover;
    padding-top: 5%;
    @include max-media("mobile"){
        background-repeat: no-repeat;
        /*     background-attachment: fixed; */
            background-position: unset; 
            background-size: 100% auto;
            padding-top: 0;
            align-items: unset;
    }
}

.menu{
/*     width: 60rem; */
   /*  height: 90rem; */
    background: $color-background-elements;
    border-top-right-radius: 5rem;
    border-top-left-radius: 5rem;
    padding: 3rem;
    @include max-media("mobile"){
        margin-top: 12rem;
        border-top-right-radius: 2rem;
        border-top-left-radius: 2rem;
        padding: 1rem;
    }
    @include min-media("mobile-down"){

    }
/*     margin-top: 3%; */
    &__title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'shrikhand-regular';
        font-size: 1.8rem;
    }
}

.menu-board{
/*     border: solid red 1px; */
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 3rem;
    margin: 1rem;
    @include max-media("mobile"){
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        margin: 2rem 0 2rem 0;
    }
    @include min-media("mobile-down"){
        grid-template-columns: 1fr;
        grid-gap: 2rem;
    }

    &__part{
/*         border: blue solid 1px; */
    }
    &__subtitle{
        color: gray;
    }
    &__underline{
        width: 3rem;
        height: 3px;
        margin-top: 2px;
        background: #99e2d0;
    }
    &__subpart{
        display: flex;
        flex-direction: column;
        background: white;
        margin-top: 1rem;
        border-radius: 1rem;
        padding: 1rem;
        box-shadow: $box-shadow;
        & h3{
            align-self: stretch;
            font-size: 1rem;
        }
        & div{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        

        }

        & p{
            margin: 0.5rem 1rem 0rem 0;
            font-size: 0.9rem;
        }
    }

}

