.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $color-footer;
    color: white;
/*     padding: 1rem 20rem 1rem 20rem; */
    @include padding-main;
    font-size: 1.8rem;
    & > :last-child{
        display: flex;
        justify-content: space-between;
        @include max-media("mobile"){
            flex-direction: column;
            justify-content: start;
        }
    }
    & a{
        color: white;
        display: flex;
        margin: 0.7rem 0 0.7rem 0;
        @include max-media("mobile"){
            margin: 0.4rem 0 0.4rem 0;
        }
    } 
    & .fas{
        color: white;   
        min-width: 36px;
        margin-right: 0.5rem;
    }
    & p{
        margin: 0;
    }
}

.logo-footer{
    font-family: shrikhand-regular;
}