/* ------------------------------------------------------------------------
 ---------- FOOTER --------------------------------------------------------
 ------------------------------------------------------------------------*/

 .footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $color-bkgrd-footer;
    @include padding-main;
    @include padding-top-btm(1rem);
    font-size: 1.8rem;
    & > :last-child{
        display: flex;
        flex-direction: column;
        justify-content: start;
        @include media-min("mobile-down"){
            flex-direction: row;
            justify-content: space-between;
        }
    }
    & a{
        color: $color-font-footer;
        display: flex;
        margin: 0.4rem 0 0.4rem 0;
        @include media-min("mobile-down"){
            margin: 0.7rem 0 0.7rem 0;
        }
    } 
    & .fas{
        min-width: 36px;
        margin-right: 0.5rem;
    }
    & p{
        margin: 0;
        &:hover{
            text-decoration: underline;
        }
    }
}

.logo-footer{
    font-family: shrikhand-regular;
    font-size: 1.2rem;
}