.header{
    background: $color-background-elements;
    height: auto;
    @include padding-header;
    display: flex;
    justify-content: space-between;
    @include max-media("mobile"){
        flex-direction: column;
    }
    &__logo{
/*         background: red; */
        text-align: center;
        display:flex;
        flex-direction: column;
        justify-content: center;
            & img{
                width: 300px;
                @include max-media("mobile"){
                    width: 150px;
                }
            }
            & h2{
                margin: 0;
            }
    }
    &__explorer{
        width: 35%;
        text-align: center;
    }
    &--center{
        justify-content: center;
    }
}

/* @media only screen and (max-width: map-get($breakpoints , desktop )){
    
    .header{
        padding: 1rem 5rem 1rem 5rem; 
        background: red;
    }

} */