.header{
    background: $color-background-elements;
    height: auto;
    padding: 1rem 25rem 1rem 25rem;
    display: flex;
    justify-content: space-between;
    &__logo{
/*         background: red; */
        text-align: center;
        display:flex;
        flex-direction: column;
        justify-content: center;
            & img{
                width: 300px;
            }
            & h2{
                margin: 0;
            }
    }
    &__explorer{
        width: 35%;
        text-align: center;
    }
    &--center{
        justify-content: center;
    }
}