.location-bkgrd{
    width: 0;
    height: 0;
    @include media-min("mobile-down"){
        position: absolute;
        z-index: 0;
        bottom: 0;
        height: 3rem;
        width: 100%;
        background: $color-background-location;
        box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.4);
    }
}

.location{
    z-index: 1;
    grid-column:1;
    grid-row: 2;
    justify-content: center;
    margin-bottom: 2rem;
    background: $color-background-location;
    box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.4);
    @include media-min("mobile-down"){
        background: unset;
        box-shadow: unset;
        grid-row: 4;
        grid-column: 1;
        margin-bottom: 0;
        margin-top: 2rem;
    }
/*     @include media-min("laptop"){
        padding-left: 10.5rem;
    }
    @include media-min("laptop-down"){
        padding-left: 22rem;
    }
    @include media-min("desktop"){
        padding-left: 37rem;
    } */
    height: 3rem;
    display: flex;

    & > div{
        display: flex;
    }
    &__icon{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__name{
        display: flex;
        padding-left: 0.5rem;
        align-items: center;
    }
}