.functioning{
    @include padding-main; 
    display: flex;
    flex-direction: column;

    padding-top: 1rem;
    padding-bottom: 2rem;
    & nav{
        display: grid;
        grid-template-columns: minmax(200px, 1fr);
        grid-gap: 1rem;
        @include margin-content;
        @include media-min-px("610px"){
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 2rem;
        }
    }
}
