.functioning{
    display: flex;
    flex-direction: column;
/*     padding: 1rem 20rem 3rem 20rem; */
    @include padding-main; 
/*     background: blue; */
    & nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        @include margin-content;
/*         @include max-media("mobile"){
            flex-direction: column;
            align-items: center;
        } */
        @include media-min("mobile-down"){
            flex-direction: row;
            justify-content: space-between;
        }
        @include media-min("laptop"){

            justify-content: start;
        }
    }
}
