/* ------------------------------------------------------------------------
 ---------- SECTION RESTAURANT --------------------------------------------
 ------------------------------------------------------------------------*/

main{
    @include padding-main;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: $color-background-elements;
         @include media-min-height(1280px){
        padding-bottom: 3rem;
    } 
}

.restaurants{
    @include margin-content;
}

.restaurants__grid{
    display: grid;
    grid-template-columns: minmax(200px, 1fr);
    place-content: center;
    margin: auto;
    grid-gap: 2rem;
    margin-bottom: 3rem;
    @include media-min-px("620px"){
        grid-template-columns: 2fr 2fr;
        place-content: space-between;
    }
    @include media-min("laptop-down"){
        column-gap: 5rem;
        row-gap: 4rem;
    }
}



