/* @mixin mobile-only{
    @media screen and (max-width : map-get($breakpoints, mobile)){
        @content;
    }
}

@mixin landscpate-mobile-only{
    @media screen and (max-width : map-get($breakpoints, landscape-mobile)){
        @content;
    }
}

@mixin tablet-only{
    @media screen and (max-width : map-get($breakpoints,tablet)){
        @content;
    }
}

@mixin landscape-tablet-only{
    @media screen and (max-width : map-get($breakpoints, landscape-tablet-only)){
        @content;
    }
}
 */
/* $margin-header: 30rem;
$width-header-el: 18rem; */
/* @include max-media("desktop"){
    $margin-header: 15rem;
    $width-header-el: 14rem;
} */
.loader_container {
  width: 40rem;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid red 1px;
  padding: 5rem;
}

.loader {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 3rem;
  height: 3rem;
  background: transparent;
  /*     linear-gradient($color-secondary, $color-primary) */
  border: solid 6px #9356DC;
  border-top: solid 6px #FF79DA;
  border-radius: 50%;
  animation: test 0.2s cubic-bezier(0.99, 0.16, 0.25, 1.01) infinite;
  animation: color .loader span;
  animation-position: absolute;
}

.loader_text {
  position: absolute;
  font-size: 0.5rem;
  /*     z-index: -1; */
}

@keyframes test {
  /*     from{
          opacity: 0.5;
      } */
  to {
    opacity: 1;
    transform: rotate(360deg);
  }
}
.trapeze {
  width: 1px;
  height: 100px;
  border: 1px solid black;
  border-color: transparent transparent transparent #069;
  border-width: 100px;
}

/* ===================================================================================== */
.container-trapeze {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 164px;
  height: 164px;
  margin: auto;
  /*     transform: rotate(90deg); */
  animation: sablier-rotate 0.5s cubic-bezier(0.99, 0.16, 0.25, 1.01) forwards;
}

.container-trapeze-center {
  width: 4px;
  height: 2px;
  border-left: solid #FF79DA 3px;
  border-right: solid #FF79DA 3px;
  background: white;
}

.container-relative-sablier {
  /*     box-sizing: border-box; */
  position: relative;
  width: 100px;
  height: 80px;
}

.sablier {
  position: absolute;
  z-index: -2;
  top: 0;
  left: 50px;
  transform: translateX(-50%);
  height: 0;
  width: 10px;
  border-bottom: 80px solid #FF79DA;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom-left-radius: 35%;
  border-bottom-right-radius: 35%;
  /*     border-bottom-color: linear-gradient($color-primary, $color-secondary); */
}
.sablier--haut {
  top: 0;
  left: -5px;
  transform: rotate(180deg);
}

.contenair-relative-sablier-in {
  position: relative;
  width: 100px;
  /* somme de width, border-left et right de sable-in--haut */
  height: 80px;
  margin: auto;
}

/*    .contenair-relative-sablier-in-up{
   } */
.sablier_in {
  /*     box-sizing: content-box; */
  position: absolute;
  z-index: -1;
  bottom: 5px;
  height: 0;
  width: 4px;
  right: 0;
  border-bottom: 50px solid #9356DC;
  border-left: 48px solid transparent;
  border-right: 48px solid transparent;
  border-bottom-left-radius: 35%;
  border-bottom-right-radius: 35%;
  /*     right: 0px;
  left: unset;
  border-bottom: 73px solid $color-secondary;
  border-left: 22px solid transparent;
  border-right: 46px solid transparent; */
  transform-origin: top;
  animation: tombe 1.2s forwards;
  /*  <<<<<<<<<<<<================================== */
}
.sablier_in--haut {
  position: absolute;
  z-index: 1;
  top: 5px;
  height: 0px;
  width: 4px;
  border-top: 50px solid #9356DC;
  border-left: 48px solid transparent;
  border-right: 48px solid transparent;
  border-top-left-radius: 35%;
  border-top-right-radius: 35%;
  transform: scale(0);
  transform-origin: top;
  /*  <<<<<<<<<<<<================================== */
  animation: remplissage 0.8s 0.4s forwards;
}

.coule2 {
  z-index: 3;
  position: absolute;
  background: #9356DC;
  top: 5px;
  width: 2px;
  height: 83px;
  margin-left: 49px;
  transform: scale(0);
  animation: coule2 0.9s 0.38s forwards;
  /*  <<<<<<<<<<<<================================== */
}

@keyframes sablier-rotate {
  to {
    transform: rotate(180deg);
  }
}
/*  @keyframes tombe { */
/* right  -20  20px 20px -20  left */
/* 15%{
    right: 2px;
    left: unset;
    border-bottom: 73px solid $color-secondary;
    border-left: 22px solid transparent;
    border-right: 46px solid transparent;
}30%{
    right: 3px;
    left: unset;
    border-bottom: 73px solid $color-secondary;

    border-left: 46px solid transparent;
    transform: scale(0.80, 1);


}35%{
    right: unset; 
    left: 1px;  
    border-bottom: 73px solid $color-secondary;
    border-left: 46px solid transparent;

}40%{
    right: unset; 
    left: 2px;  
    border-left: 46px solid transparent;
    border-right: 38px solid transparent; 
    bottom: unset;
    top: 5px;

 }65%{

    right: unset; 
    left: 0px;  

    bottom: unset;
    top: 0px;

    border-bottom: 60px solid $color-secondary;     
    border-left: 48px solid transparent;
    border-right: 48px solid transparent; 

 }100%{
        transform:scale(0);
        right: unset; 
        left: unset;  

        bottom: unset;
        top: 0px;

        border-bottom: 50px solid $color-secondary;     
        border-left: 48px solid transparent;
        border-right: 48px solid transparent;     
}

 }
 */
/* @keyframes tombe {
    20%{
        right: 0px;
        left: unset;
        border-bottom: 73px solid $color-secondary;
        border-left: 22px solid transparent;
        border-right: 46px solid transparent;
    }
    30%{
        border-bottom: 50px solid $color-secondary;     
        border-left: 48px solid transparent;
        border-right: 48px solid transparent; 
        transform: translateY(0) scale(1, 1);
    }
    35%{ 
        transform: translateY(-25px) scale(0.65, 1); 
    }100%{
        transform: translateY(-25px) scale(0);
    }  
} */
/* px = height contenaire  - border-bottom.sable-in - bottom position.sable-in  */
@keyframes tombe {
  20% {
    right: 0px;
    left: unset;
    border-bottom: 73px solid #9356DC;
    border-left: 22px solid transparent;
    border-right: 46px solid transparent;
  }
  30% {
    border-bottom: 60px solid #9356DC;
    border-left: 48px solid transparent;
    border-right: 48px solid transparent;
    transform: translateY(0) scale(1, 1);
  }
  35% {
    transform: translateY(-18px) scale(0.75, 1);
  }
  100% {
    transform: translateY(-18px) scale(0);
  }
}
/* @keyframes tombe {
    20%{
        right: 0px;
        left: unset;
        border-bottom: 73px solid $color-secondary;
        border-left: 22px solid transparent;
        border-right: 46px solid transparent;
    }
    30%{
        border-bottom: 50px solid $color-secondary;     
        border-left: 48px solid transparent;
        border-right: 48px solid transparent; 
        transform: translateY(0) scale(1, 1);
    }
    35%{ 
        transform: translateY(-25px) scale(0.65, 1); 
    }100%{
        transform: translateY(-25px) scale(0);
    }  
}  */
@keyframes remplissage {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes coule2 {
  0% {
    transform-origin: bottom;
    transform: scaleY(0);
  }
  10% {
    transform-origin: bottom;
    transform: scaleY(1);
  }
  70% {
    transform-origin: top;
    transform: scaleY(1);
  }
  100% {
    transform-origin: top;
    transform: scaleY(0);
  }
}
/* ===============PROGRESS BAR=========================================================================== */
.btn_progress {
  width: 10rem;
  height: 3rem;
  border: solid 1px black;
  background: lime;
  margin: 2rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn_progress:active + .progress > .progress__bar {
  /*                     transform: scaleX(1); */
  animation-name: progress-bar;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
  transform-origin: bottom;
}

@keyframes progress-bar {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(0.5);
  }
}
.progress {
  height: 80rem;
  width: 20rem;
  border: solid 2px white;
  box-shadow: 0px 0px 0px 1px #000000;
}
.progress__bar {
  height: 40rem;
  width: 20rem;
  background: lime;
  transform: scaleY(0);
  /*         transition: transform 2000ms;
          transform-origin: bottom;
          transition: transform 1000ms cubic-bezier(.32,0,.07,1); */
}

/* =============TEST================================================================== */
.sablier_in2 {
  /*     box-sizing: content-box; */
  position: absolute;
  z-index: -1;
  /*     top: 18px; */
  bottom: 5px;
  /*     left: 2px; */
  transform-origin: bottom;
  transform: scaleY(0);
  /*     transform: translateX(-50%); */
  height: 0;
  width: 4px;
  border-bottom: 80px solid #FF79DA;
  border-left: 48px solid transparent;
  border-right: 48px solid transparent;
  border-bottom-left-radius: 35%;
  border-bottom-right-radius: 35%;
  /*     background:red; */
  animation: coule 1s forwards;
}
.sablier_in2--haut {
  position: absolute;
  z-index: -1;
  bottom: 5px;
  top: 0;
  left: 0;
  height: 0;
  width: 4px;
  border-top: 80px solid #FF79DA;
  border-left: 48px solid transparent;
  border-right: 48px solid transparent;
  border-top-left-radius: 35%;
  border-top-right-radius: 35%;
  /*             transform: rotate(180deg); */
  /*         transform: scaleY(-1); */
}

/* =========HEART=========================================================================================        */
.container-heart {
  width: 50%;
  height: 50%;
  position: relative;
  margin: auto;
  border: solid black 1px;
  /*     transform: rotate(45deg); */
}
.container-heart:hover {
  cursor: pointer;
}
.container-heart:hover .youhou {
  animation: heart 0.9s forwards;
}
.container-heart:hover .youhou2 {
  animation: heart2 0.9s forwards;
}
.container-heart:hover .youhou3 {
  animation: heart3 0.9s forwards;
}

.heart-test {
  position: absolute;
  z-index: -1;
  left: 70px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: white;
  border: black solid 4px;
  /*     border-right: black solid 5px;
      border-left: black solid 5px; */
}

.heart__background {
  position: absolute;
  z-index: 3;
  top: 3px;
  left: 73px;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background-color: #9356DC;
  transform: scaleY(0);
}

.heart2 {
  position: absolute;
  /*     z-index: -1; */
  width: 80px;
  height: 80px;
  border-radius: 50% 50% 0 50%;
  transform: rotate(45deg);
  background-color: white;
  border: black solid 4px;
  /*     border-left: black solid 5px; */
  /*     border-right: black solid 5px; */
}

.heart__background2 {
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 3;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background-color: #9356DC;
  transform: scaleY(0);
}

.heart3 {
  top: 40px;
  left: 37px;
  position: absolute;
  /*     z-index: -1; */
  width: 80px;
  height: 80px;
  border-bottom: black solid 4px;
  border-right: black solid 4px;
  background: white;
  transform: rotate(45deg);
}

.heart__background3 {
  top: 38px;
  left: 38px;
  position: absolute;
  z-index: 3;
  width: 81px;
  height: 81px;
  background: -moz-linear-gradient(135deg, #FF79DA, #9356DC 50%);
  transform: rotate(45deg) scaleY(0);
}

@keyframes heart {
  0% {
    /*         transform: scale(0) */
    /* transform-origin: bottom right;
    transform: translate(-40px, 17px) rotate(45deg) scale(0); */
    transform-origin: center;
    transform: rotate(45deg) scale(0);
  }
  100% {
    /*         transform: scale(1) */
    /* transform-origin: bottom right;
    transform: translate(-40px, 17px) rotate(45deg) scale(1); */
    transform-origin: center;
    transform: rotate(45deg) scale(1);
  }
}
@keyframes heart3 {
  0% {
    /*         transform: scale(0) */
    transform-origin: bottom right;
    transform: scale(0);
  }
  100% {
    /*         transform: scale(1) */
    transform-origin: bottom right;
    transform: scale(1);
  }
}
@keyframes heart2 {
  0% {
    /*         transform: scale(0) */
    transform-origin: bottom left;
    transform: scale(0);
  }
  100% {
    /*         transform: scale(1) */
    transform-origin: bottom left;
    transform: scale(1);
  }
}
@font-face {
  font-family: "roboto-regular";
  src: url("../polices/Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "shrikhand-regular";
  src: url("../polices/Shrikhand/Shrikhand-Regular.ttf") format("truetype");
}
body {
  font-family: roboto-regular;
}
@media screen and (max-width: 420px) {
  body {
    font-size: 4vw;
  }
}

h2 {
  /*     font-size:1.5rem; */
  font-size: 1.3rem;
}

h3 {
  font-size: 1rem;
  margin: 0;
}

h4 {
  font-size: 1.3rem;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

p {
  /*     font-size: 1.3rem; */
  font-size: 0.9rem;
}

span, .fas {
  /*     font-size: 1.1rem; */
  font-size: 0.9rem;
}

body {
  margin: 0;
  /*     box-sizing: content-box; */
  /* box-sizing: border-box; */
}

.btn {
  display: flex;
  align-items: center;
  border-radius: 6rem;
  box-shadow: 0px 12px 5px -6px rgba(0, 0, 0, 0.17);
  height: 2.5rem;
}
.btn__explorer {
  justify-content: center;
  width: 12rem;
  margin: auto;
  margin-bottom: 1rem;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
}
.btn__explorer--command {
  margin-right: 0;
  margin-bottom: 0;
}
@media screen and (max-width: 420px) {
  .btn__explorer--command {
    margin: auto;
  }
}
@media screen and (min-width: 499px) and (max-width: 1179px) {
  .btn__explorer--command {
    margin: auto;
  }
}
.btn__functioning {
  width: 14rem;
  margin-right: 3rem;
  background: #f6f6f6;
}
@media screen and (max-width: 420px) {
  .btn__functioning {
    margin-right: 0;
    margin-bottom: 1rem;
    width: 18rem;
    height: 4rem;
  }
}
@media screen and (min-width: 499px) and (max-width: 1179px) {
  .btn__functioning {
    margin-right: 2rem;
    height: 3rem;
  }
}
.btn__functioning .fas {
  color: #7e7e7e;
  margin-right: 1rem;
}
.btn__functioning:hover {
  background: #f5edff;
}
.btn__functioning:hover .fas {
  color: #9356DC;
}
.btn:hover {
  cursor: pointer;
}

.numbering {
  position: absolute;
  left: -0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  position: relative;
  background: #9356DC;
  color: white;
}

.like {
  box-sizing: border-box;
  width: 2rem;
  height: 2rem;
  position: relative;
  /*     border: solid 1px purple; */
}
.like:hover {
  cursor: pointer;
}
.like:hover .fill-heart {
  animation: fill-heart 0.9s forwards;
}
.like:hover .fill-heart-right {
  animation: fill-heart-right 0.9s forwards;
}
.like:hover .fill-heart-bottom {
  animation: fill-heart-bottom 0.9s forwards;
}

.heart {
  box-sizing: border-box;
  position: absolute;
  width: 1rem;
  height: 1rem;
  background: white;
}
.heart__top {
  /* z-index: -1; */
  border-radius: 50% 50% 0 50%;
  transform: rotate(45deg);
  border: black 1px solid;
  /*         border-left: $like-border-clr $like-border-sz solid;
          border-bottom: $like-border-clr $like-border-sz solid; */
}
.heart__top__bkgrd {
  border: transparent 1px solid;
  z-index: 3;
  background: #9356DC;
  background-clip: border-box;
  /*             border-radius: 50% 50% 0% 50%; */
  transform: scale(0);
}
.heart__top--right {
  /* z-index: -2; */
  left: 40%;
  border-bottom: unset;
  border-right: black 1px solid;
}
.heart__top--right__bkgrd {
  border: transparent 1px solid;
  z-index: 3;
  background: #9356DC;
  background-clip: border-box;
  transform: rotate(45deg) scale(0);
}
.heart__bottom {
  top: 20%;
  left: 20%;
  /*         z-index: 2; */
  border-bottom: black 1px solid;
  border-right: black 1px solid;
  transform: rotate(45deg);
  background: -moz-linear-gradient(135deg, white 90%, transparent);
}
.heart__bottom__bkgrd {
  border: transparent 1px solid;
  /*             z-index: 3; */
  background: #9356DC;
  /*             background: -moz-linear-gradient( */
  /*         to right bottom,  */
  /*                         135deg,
                          $color-secondary,
                          $color-primary 50%
                          ); */
  background-clip: border-box;
  transform: rotate(45deg) scaleY(0);
}

@keyframes fill-heart {
  0% {
    transform-origin: right;
    transform: translate(-15%, 35%) rotate(45deg) scale(0);
  }
  100% {
    transform-origin: right;
    transform: translate(-15%, 35%) rotate(45deg) scale(1);
  }
}
@keyframes fill-heart-right {
  0% {
    transform-origin: bottom;
    transform: translate(-35%, -15%) rotate(45deg) scale(0);
  }
  100% {
    transform-origin: bottom;
    transform: translate(-35%, -15%) rotate(45deg) scale(1);
  }
}
@keyframes fill-heart-bottom {
  0% {
    transform-origin: center;
    transform: rotate(45deg) scale(0);
  }
  100% {
    transform-origin: center;
    transform: rotate(45deg) scale(1);
  }
}
.bloc-page {
  /*     max-width: 1440px;
      margin: auto; */
  /*     box-sizing: border-box; */
}

.header {
  display: grid;
  grid-template-columns: 30rem auto 18rem 18rem 30rem;
  background: #f6f6f6;
  padding-top: 1rem;
}
@media screen and (max-width: 1440px) {
  .header {
    grid-template-columns: 15rem auto 16rem 16rem 15rem;
  }
}
@media screen and (max-width: 420px) {
  .header {
    grid-template-columns: 1fr;
    padding-bottom: 2rem;
  }
}
@media screen and (min-width: 499px) and (max-width: 1179px) {
  .header {
    grid-template-columns: 1rem auto 0rem 20rem 1rem;
    /*         background: red; */
  }
}
@media screen and (min-width: 1023px) and (max-width: 1179px) {
  .header {
    grid-template-columns: 1rem auto 15rem 20rem 1rem;
  }
}
.header__logo {
  grid-column: 2;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 420px) {
  .header__logo {
    grid-column: 1;
    grid-row: 1;
  }
}
.header__logo--center {
  grid-column: 2;
}
.header__logo img {
  width: 300px;
}
@media screen and (max-width: 420px) {
  .header__logo img {
    width: 150px;
  }
}
.header__subhead {
  grid-row: 2;
  grid-column: 2;
  text-align: center;
  margin: 0;
}
@media screen and (max-width: 420px) {
  .header__subhead {
    grid-column: 1;
    grid-row: 3;
    width: 70%;
    margin: auto;
  }
}
.header__explorer {
  grid-row: 1/3;
  grid-column: 4;
  text-align: center;
}
@media screen and (max-width: 420px) {
  .header__explorer {
    grid-column: 1;
    grid-row: 4;
    width: 70%;
    margin: auto;
  }
}
.header--center {
  grid-template-columns: 3fr 3fr 3fr;
  padding: 1rem 15rem 1rem 15rem;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 420px) {
  .header--center {
    padding: 1rem 0rem 1rem 0rem;
  }
}
@media screen and (min-width: 499px) and (max-width: 1179px) {
  .header--center {
    padding: 1rem 0rem 1rem 0rem;
  }
}
.header fa-arrow-left {
  grid-column: 1;
  /*         font-size: 10rem; */
}

/* @media only screen and (max-width: map-get($breakpoints , desktop )){

    .header{
        padding: 1rem 5rem 1rem 5rem; 
        background: red;
    }

} */
.location {
  grid-row: 3;
  grid-column: span 5;
  padding-left: 37rem;
  height: 3rem;
  margin-top: 1rem;
  background: #eaeaea;
  display: flex;
  box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.4);
}
@media screen and (max-width: 1440px) {
  .location {
    padding-left: 22rem;
  }
}
@media screen and (min-width: 499px) and (max-width: 1179px) {
  .location {
    padding-left: 8.5rem;
  }
}
@media screen and (min-width: 1023px) and (max-width: 1179px) {
  .location {
    padding-left: 10.5rem;
  }
}
@media screen and (max-width: 420px) {
  .location {
    grid-column: 1;
    grid-row: 2;
    padding-left: 0;
    justify-content: center;
    margin-bottom: 2rem;
  }
}
.location > div {
  display: flex;
}
.location__icon {
  /*         width: 3rem; */
  /*         background: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.location__name {
  /*         width: 10rem; */
  /*         background: blue; */
  display: flex;
  padding-left: 0.5rem;
  align-items: center;
}

.functioning {
  display: flex;
  flex-direction: column;
  /*     padding: 1rem 20rem 3rem 20rem; */
  padding: 1rem 26rem 1rem 26rem;
  /*     background: blue; */
}
@media screen and (max-width: 1440px) {
  .functioning {
    padding: 1rem 10rem 1rem 10rem;
  }
}
@media screen and (max-width: 420px) {
  .functioning {
    padding: 1rem 1rem 1rem 1rem;
  }
}
@media screen and (min-width: 499px) and (max-width: 1179px) {
  .functioning {
    padding: 1rem 1rem 1rem 1rem;
  }
}
.functioning nav {
  display: flex;
  margin: 0 5rem 2rem 5rem;
}
@media screen and (max-width: 420px) {
  .functioning nav {
    margin: auto 0rem auto 0rem;
  }
}
@media screen and (min-width: 499px) and (max-width: 1179px) {
  .functioning nav {
    margin: 0 2rem 2rem 2rem;
  }
}
@media screen and (max-width: 420px) {
  .functioning nav {
    flex-direction: column;
    align-items: center;
  }
}

main {
  padding: 1rem 26rem 1rem 26rem;
  background: #f6f6f6;
}
@media screen and (max-width: 1440px) {
  main {
    padding: 1rem 10rem 1rem 10rem;
  }
}
@media screen and (max-width: 420px) {
  main {
    padding: 1rem 1rem 1rem 1rem;
  }
}
@media screen and (min-width: 499px) and (max-width: 1179px) {
  main {
    padding: 1rem 1rem 1rem 1rem;
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  margin: 0 5rem 2rem 5rem;
  margin-top: 2rem;
  grid-column-gap: 6rem;
  grid-row-gap: 5rem;
}
@media screen and (max-width: 420px) {
  .container {
    margin: auto 0rem auto 0rem;
  }
}
@media screen and (min-width: 499px) and (max-width: 1179px) {
  .container {
    margin: 0 2rem 2rem 2rem;
  }
}
@media screen and (max-width: 420px) {
  .container {
    grid-template-columns: 1fr;
    grid-row-gap: 1rem;
    margin-bottom: 3rem;
  }
}
@media screen and (min-width: 499px) and (max-width: 1179px) {
  .container {
    grid-gap: 2rem;
  }
}

.container-restaurant {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  width: 100%;
  background-image: url("../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-repeat: no-repeat;
  /*     background-attachment: fixed; */
  background-position: center;
  background-size: 100% auto;
  background-size: cover;
  padding-top: 5%;
}
@media screen and (max-width: 420px) {
  .container-restaurant {
    background-repeat: no-repeat;
    /*     background-attachment: fixed; */
    background-position: unset;
    background-size: 100% auto;
    padding-top: 0;
    align-items: unset;
  }
}

.menu {
  /*     width: 60rem; */
  /*  height: 90rem; */
  background: #f6f6f6;
  border-top-right-radius: 5rem;
  border-top-left-radius: 5rem;
  padding: 3rem;
  /*     margin-top: 3%; */
}
@media screen and (max-width: 420px) {
  .menu {
    margin-top: 12rem;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    padding: 1rem;
  }
}
.menu__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "shrikhand-regular";
  font-size: 1.8rem;
}
.menu__title h3 {
  font-size: 1.6rem;
}

.menu-board {
  /*     border: solid red 1px; */
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 3rem;
  margin: 3rem 1rem 3rem 1rem;
}
@media screen and (max-width: 420px) {
  .menu-board {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    margin: 2rem 0 2rem 0;
  }
}
@media screen and (min-width: 499px) and (max-width: 1179px) {
  .menu-board {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }
}
.menu-board__part {
  /*         border: blue solid 1px; */
}
.menu-board__subtitle {
  color: gray;
}
.menu-board__underline {
  width: 3rem;
  height: 3px;
  margin-top: 2px;
  background: #99e2d0;
}
.menu-board__subpart {
  display: flex;
  flex-direction: column;
  background: white;
  margin-top: 1rem;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0px 12px 5px -6px rgba(0, 0, 0, 0.17);
}
.menu-board__subpart h3 {
  align-self: stretch;
  font-size: 1rem;
}
.menu-board__subpart div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu-board__subpart p {
  margin: 0.5rem 1rem 0rem 0;
  font-size: 0.9rem;
}

.card {
  width: 100%;
  /*     height: 27rem; */
  margin: auto;
  background: white;
  box-shadow: 0px 12px 5px -6px rgba(0, 0, 0, 0.17);
  border-radius: 2rem;
  /*     margin-bottom: 3rem; */
}
.card__img {
  position: relative;
  /*         display: table; */
  height: 14rem;
  overflow: hidden;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  /*         vertical-align: middle; */
}
.card__img img {
  position: absolute;
  /*             display: table-cell; */
  /*             vertical-align: middle;
              text-align: center; */
  top: -25%;
  width: 100%;
  height: 125%;
  object-fit: cover;
}
@media screen and (max-width: 420px) {
  .card__img img {
    height: 110%;
  }
}
.card__legend {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem 0rem 2rem;
  font-size: 1.3rem;
}
@media screen and (max-width: 420px) {
  .card__legend {
    margin-top: -1rem;
    padding: 0 2rem 0 2rem;
  }
}
.card__legend p {
  margin-top: 0.5rem;
}
.card__legend div:last-child {
  /* coeur */
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #353535;
  color: white;
  /*     padding: 1rem 20rem 1rem 20rem; */
  padding: 1rem 26rem 1rem 26rem;
  font-size: 1.8rem;
}
@media screen and (max-width: 1440px) {
  .footer {
    padding: 1rem 10rem 1rem 10rem;
  }
}
@media screen and (max-width: 420px) {
  .footer {
    padding: 1rem 1rem 1rem 1rem;
  }
}
@media screen and (min-width: 499px) and (max-width: 1179px) {
  .footer {
    padding: 1rem 1rem 1rem 1rem;
  }
}
.footer > :last-child {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 420px) {
  .footer > :last-child {
    flex-direction: column;
    justify-content: start;
  }
}
.footer a {
  color: white;
  display: flex;
  margin: 0.7rem 0 0.7rem 0;
}
@media screen and (max-width: 420px) {
  .footer a {
    margin: 0.4rem 0 0.4rem 0;
  }
}
.footer .fas {
  color: white;
  min-width: 36px;
  margin-right: 0.5rem;
}
.footer p {
  margin: 0;
}

.logo-footer {
  font-family: shrikhand-regular;
}

/*# sourceMappingURL=style.css.map */
