.btn{
    display: flex;
    align-items: center;
    border-radius: 6rem;
    box-shadow: $box-shadow;
    height: 2.5rem;
    &__explorer{
        justify-content: center;
        width: 12rem;    
        margin: auto;
        margin-bottom: 1rem;
        background: linear-gradient($color-secondary, $color-primary);
        color: white;
        &:hover{
            filter: brightness(105%);
            box-shadow: $box-shadow-hover;
        }
        &--command{
            margin: auto;
            @include media-min("laptop"){
                margin-right: 0;
                margin-bottom: 0;
            }
        }
    }
    &__functioning{
        margin-bottom: 1rem;
        width: 90%;
        min-width: 0.5rem;
        height: 4rem;
        border-radius: 1rem;
        @include media-min("mobile-down"){
            margin-bottom: 0;
            min-width: 10rem;  
            width: 30%;
            height: 3rem;   
            padding-right: 0.5rem;       
        }
        @include media-min("laptop"){
            width: 25%;
        }
        @include media-min("laptop-down"){
            width: 30%;
        }
        @include media-min("laptop-down"){
            width: 25%;
            margin-right: 3rem;
        }
        background: $color-background-elements;
        & .fas{
            min-width: 26px;
            color: $color-icon;
            margin: 0 0.3rem 0 0.3rem;
/*             text-align: center; */
        }
        &:hover{
            background: $color-hover;
        }
        &:hover .fas{
            color: $color-primary;
        }
    }
    &:hover{
        cursor: pointer;
    }
}


.numbering{
    position: absolute;
    left: -0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.6rem;
    min-width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    position: relative;
    background: $color-primary;
    color: white;
}