.btn{
    display: flex;
    align-items: center;
    border-radius: 6rem;
    box-shadow: $box-shadow;
    height: 2.5rem;
    &__explorer{
        justify-content: center;
        width: 12rem;
        
        margin: auto;
        margin-bottom: 1rem;
        background: linear-gradient($color-secondary, $color-primary);
        color: white;
        &--command{
            margin: auto;
/*             @include max-media("mobile"){
                margin: auto;
            } */
/*             @include min-media("mobile-down"){
                margin: auto;
            } */
            @include media-min("laptop"){
                margin-right: 0;
                margin-bottom: 0;
            }
        }
    }
    &__functioning{
        margin-right: 0;
        margin-bottom: 1rem;
        width: 18rem;
        height: 4rem;
        @include media-min("mobile-down"){
            margin-right: 0;
            margin-bottom: 0;
            width: 12rem;  
            height: 3rem;   
            padding-right: 0.5rem;       
        }
        @include media-min("laptop"){
            width: 18rem;
            margin-right: 3rem;
        }
/*         @include max-media("mobile"){
            margin-right: 0;
            margin-bottom: 1rem;
            width: 18rem;
            height: 4rem;
        } */
/*         @include min-media("mobile-down"){
            margin-right: 2rem;
            height: 3rem;
        } */
        @include media-min("laptop-down"){
            margin-right: 3rem;
        }
        background: $color-background-elements;
        & .fas{
            color: $color-icon;
            margin-right: 1rem;
        }
        &:hover{
            background: $color-hover;
        }
        &:hover .fas{
            color: $color-primary;
        }
    }
    &:hover{
        cursor: pointer;
    }
}

.numbering{
    position: absolute;
    left: -0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.6rem;
    min-width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    position: relative;
    background: $color-primary;
    color: white;
}