$cards-border-radius: 1rem;
/* ------------------------------------------------------------------------
 ---------- CARDS RESTAURANT ----------------------------------------------
 ------------------------------------------------------------------------*/

.card{
    background: white;
    box-shadow: $box-shadow;
    border-radius: $cards-border-radius;
    opacity: 0;
    animation: cards-slide 0.5s linear forwards;
    $animation-delay: 1.7s;
    animation-delay: $animation-delay;
    @for $i from 1 through 9{
        &:nth-child(#{$i}){
            animation-delay: $animation-delay + $i * 150ms;
        }
    }

    &__img{
        position: relative;
        height: 14rem;
        max-height: 14rem;
        overflow: hidden;
        border-top-left-radius: $cards-border-radius;
        border-top-right-radius: $cards-border-radius;
        & img{
            position: absolute;
            top: -25%;
            width: 100%;
            height: 110%;
            object-fit: cover;
            transition: transform .9s;
            @include media-min("mobile-down"){
                height: 125%;
            }
        }
    }
    &:hover img{
        -ms-transform: scale(1.1); /* IE 9 */
        -webkit-transform: scale(1.1); /* Safari 3-8 */
        transform: scale(1.1);            
    }
    &__new-label{
        position: absolute;
        top: 1rem;
        right: 1rem;    
        background: $color-tertiary;
        z-index: 1;
        border-radius: 0.3rem;
        padding: 0.5rem 1rem 0.5rem 1rem;
        color: #109071;
        font-weight: bolder;
        text-align: center;
        vertical-align: middle;
        & p{
            margin: unset;
        }
    }
    &__legend{
        display: flex;
        justify-content: space-between;
        margin-top: -1rem;
        padding: 0 1rem 0 1rem;
        font-size:1.3rem;
        @include media-min("mobile-down"){
            padding: 1rem 2rem 0rem 2rem;
            margin-top: unset;
        }
        & p{
            margin-top: 0.5rem;
        }
    }
}

@keyframes cards-slide{
    0%{
        opacity: 0;
        transform: translateY(30px);
    }100%{
        opacity: 1;
        transform: translateY(0);
    }
}