$hourglass-size: 100px; /* 164px */ /* 200px */


$container-hourglass-relative-width: math.div($hourglass-size, 2); /* 100px */ /* <<<< A MODIFIER */
$container-hourglass-relative-height: math.div((40*$hourglass-size), 100); /* 80px */

$half-hourglass-width: math.div(10*$container-hourglass-relative-width, 100);
$half-hourglass-border-bottom: math.div($hourglass-size, 2);
$half-hourglass-border: math.div(45*$container-hourglass-relative-width, 100);

$half-hourglass-position-left: round(math.div($container-hourglass-relative-width, 2));
$half-hourglass-top-position-left: math.div($half-hourglass-position-left, -10);


$anim-duration: 1.50s;


.container-hourglass{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: $hourglass-size;
    height: $hourglass-size;
    margin: auto;
    border: solid 10px $color-primary;
    animation: hourglass-rotate 1.20s cubic-bezier(.99,.16,.25,1.01) backwards, 
    hourglass-rotate-reverse 1.20s 1.20s cubic-bezier(.99,.16,.25,1.01) forwards
    ; 
    &__relative{
        position: relative;
        width: $container-hourglass-relative-width; /* 110px */ /* 100px */
        height: $container-hourglass-relative-height;  /* 80px */
    }
}

@keyframes hourglass-rotate {
    0%{        
        transform: rotate(0);

    }30%{
        transform: rotate(180deg);
    }100%{
        transform: rotate(180deg);
    }
}

@keyframes hourglass-rotate-reverse{
    0%{
        transform: scale(1.50);
    }20%{
        transform: rotate(0) scale(1);
    }100%{
        transform: rotate(-999deg) scale(0);
    }
}

.hourglass{
    position: absolute;
    z-index: -2;
    top: 0;
    height: 0;
    width: $half-hourglass-width; /* 10px */
    border-bottom: $container-hourglass-relative-height solid $color-secondary; /* 80px */
    border-left: $half-hourglass-border solid transparent; /* 50px */
    border-right: $half-hourglass-border solid transparent; /* 50px */
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 35%;    
    &--top{
        top: 0px;
        transform: rotate(180deg);
    }
}

$sand-bottom-top-border: math.div((62.5*$container-hourglass-relative-height),100);
$sand-bottom-top-position: math.div((6*$container-hourglass-relative-height),100);
$sand-border: math.div((44*$container-hourglass-relative-width),100);
$sand-width: math.div(4*$container-hourglass-relative-width, 100);
$sand-position-right: math.div(4*$container-hourglass-relative-width, 100);

.sand{
    position: absolute;
    z-index: -1;
    bottom: $sand-bottom-top-position; /* 5px */
    left: unset;
    right: $sand-position-right;
    height: 0;
    width: $sand-width; /* 4px */
    border-bottom: $sand-bottom-top-border solid $color-primary; /* 50px */
    border-left: $sand-border solid transparent; /* 48px */
    border-right: $sand-border solid transparent; /* 48px */
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 35%;
    transform-origin: top;
    animation: sand-rotate 1.20s  
    backwards
    ;
    &--top{
        position: absolute;
        z-index: 1;
        bottom: unset;
        top: $sand-bottom-top-position; /* 5px */
        border-bottom: unset;
        border-top: $sand-bottom-top-border solid $color-primary; /* 50px */
        border-top-left-radius: 35%;
        border-top-right-radius: 35%;
        transform: scale(0);
        transform-origin: top;    
        animation: sand-filling 0.80s 0.40s    
        backwards
        ;
    }   
}

$border-bottom-sand-rotate-1: math.div((36*$hourglass-size), 100);
$border-bottom-sand-rotate-2: math.div((26*$hourglass-size), 100);
$sand-border-left: math.div((20*$container-hourglass-relative-width),100);
$sand-border-right: math.div((40*$container-hourglass-relative-width),100);
$sand-translate:  math.div((20*$container-hourglass-relative-height),100);
$sand-rotate-position-right: math.div((6*$container-hourglass-relative-width),100);

@keyframes sand-rotate {
    0%{
        left: unset;
        right: $sand-position-right;
    }
    20%{
        left: unset;
        right: $sand-position-right;      
        border-bottom: $border-bottom-sand-rotate-1 solid $color-primary;
        border-left: $sand-border-left solid transparent;
        border-right: $sand-border-right solid transparent;
    }
    30%{       
        border-bottom: $border-bottom-sand-rotate-2 solid $color-primary;     
        border-left: $sand-border solid transparent; 
        border-right: $sand-border solid transparent; 
        transform: translateY(0) scale(1, 1);
    }
    35%{ 
        transform: translateY(-$sand-translate) scale(0.75, 1); 
    }100%{
        transform: translateY(-$sand-translate) scale(0);
    }  
} 

@keyframes sand-filling{
    0%{
        transform: scale(0);
    }100%{
        transform: scale(1);
    }
}

$flowing-sand-width: round(math.div((1*$container-hourglass-relative-width),100));
$flowing-sand-position-left: math.div((49*$container-hourglass-relative-width),100);
$flowing-sand-hight: math.div((42*$hourglass-size), 100);

.flowing-sand{
    z-index: 3;
    position: absolute;
    background: $color-primary;
    top: $sand-bottom-top-position;
    left: $flowing-sand-position-left; 
    width: $flowing-sand-width;
    height: $flowing-sand-hight;
    transform: scale(0);
    animation: flowing-sand 0.80s 0.38s forwards;    
}

@keyframes flowing-sand{
    0%{
        transform-origin: bottom;
        transform: scaleY(0);
    }10%{
        transform-origin: bottom;
        transform: scaleY(1);
    }90%{
        transform-origin: bottom;
        transform: scaleY(0.60);
    }100%{
        transform-origin: center;
        transform: scaleY(0);
    } 
}