@use 'sass:math';
$like-size: 30px;
$like-size-elm: math.div($like-size, 2);

$like-border-sz : 1px;
$like-border-clr : black;

$like-backgrd-clr : $color-background-elements;
$like-hover-clr: $color-primary;



.like{
    box-sizing: border-box;
    width: $like-size;
    height: $like-size;
    position: relative;
/*     border: solid 1px purple; */

    &:hover{
        cursor: pointer;
        & .fill-heart{ 
            animation: fill-heart 0.9s forwards;
        }
        & .fill-heart-right{ 
            animation: fill-heart-right 0.9s forwards;
        }
        & .fill-heart-bottom{ 
            animation: fill-heart-bottom 0.9s forwards;
        }
    }

}

.heart{
    box-sizing: border-box;
    position: absolute;
    width: $like-size-elm;
    height: $like-size-elm;
    background: $like-backgrd-clr;
   

    &__top{
        /* z-index: -1; */
        border-radius: 50% 50% 0 50%;
        transform: rotate(45deg);
        border: $like-border-clr $like-border-sz solid;
/*         border-left: $like-border-clr $like-border-sz solid;
        border-bottom: $like-border-clr $like-border-sz solid; */
        &__bkgrd{
            border: transparent $like-border-sz solid;
            z-index: 3;
            background: $like-hover-clr;
            background-clip: border-box;
/*             border-radius: 50% 50% 0% 50%; */
            transform: scale(0);
        }

        &--right{
            /* z-index: -2; */
            left: 40%;
            border-bottom: unset;
            border-right: $like-border-clr $like-border-sz solid;
            &__bkgrd{
                border: transparent $like-border-sz solid;
                z-index: 3;
                background: $like-hover-clr;
                background-clip: border-box;
                transform: rotate(45deg) scale(0);
            }
        }
    }
    &__bottom{
        top: 20%;
        left: 20%;
/*         z-index: 2; */
        border-bottom: $like-border-clr $like-border-sz solid;
        border-right: $like-border-clr $like-border-sz solid;
        transform: rotate(45deg);
        background: -moz-linear-gradient(
                    135deg,
                    $like-backgrd-clr 90%,
                    transparent
                    );    
        &__bkgrd{
            border: transparent $like-border-sz solid;
/*             z-index: 3; */
                background: $like-hover-clr;
            background: -moz-linear-gradient(
                /*         to right bottom,  */
                        135deg,
                        $color-secondary,
                        $color-primary 50%
                        );
            background-clip: border-box;
            transform: rotate(45deg) scaleY(0);
        }                            
    }
}

@keyframes fill-heart {
    0%{
        transform-origin: right;
        transform:  
        translate(-15%,35%)
        rotate(45deg) 
        scale(0); 
    }
    100%{
        transform-origin: right;
        transform: 
        translate(-15%,35%) 
        rotate(45deg) 
        scale(1);
    }
}

@keyframes fill-heart-right {
    0%{
        transform-origin: bottom;
        transform: 
        translate(-35%,-15%) 
        rotate(45deg) 
        scale(0); 
    }
    100%{
        transform-origin: bottom;
        transform: 
        
        translate(-35%,-15%) 
        rotate(45deg) 
        scale(1);
    }
}

@keyframes fill-heart-bottom {
    0%{
        transform-origin: center;
        transform: 
        rotate(45deg) 
        scale(0);
    }
    100%{
        transform-origin: center;
        transform: 
        rotate(45deg) 
        scale(1);
    }
}