@font-face{
    font-family: 'roboto-regular';
    src: url('../polices/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'shrikhand-regular';
    src: url('../polices/Shrikhand/Shrikhand-Regular.ttf') format('truetype');
}

body{
    font-family: roboto-regular;
}

h2{
    font-size:1.5rem;
}

h3{
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

p{
    font-size: 1.3rem;
}

span, .fas{
    font-size: 1.1rem;
}