@font-face{
    font-family: 'roboto-regular';
    src: url('../polices/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'shrikhand-regular';
    src: url('../polices/Shrikhand/Shrikhand-Regular.ttf') format('truetype');
}

body{
    font-family: roboto-regular;
    font-size: 4vw;
@include media-min("mobile-down"){
    font-size: unset;
}

}

h2{
/*     font-size:1.5rem; */
font-size: 1.1rem;
}

h3{
        font-size: 1rem;
    margin: 0;
}

h4{
    font-size: 1.3rem;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

p{
/*     font-size: 1.3rem; */
    font-size: 0.9rem;
}

span, .fas{
/*     font-size: 1.1rem; */
    font-size: 0.9rem;
}