@mixin padding-main{
    padding: 1rem 1rem 1rem 1rem;
    @include media-min("mobile-down"){

    }
/*     @include max-media("desktop"){
        padding: 1rem 10rem 1rem 10rem;
    } */
/*         @include max-media("mobile"){
        padding: 1rem 1rem 1rem 1rem;
    } */
/*     @include min-media("mobile-down"){
        padding: 1rem 1rem 1rem 1rem;
    } */
    @include media-min("laptop-down"){
        padding: 1rem 10rem 1rem 10rem;
    }
    @include media-min-px(1900px){
        padding: 1rem 26rem 1rem 26rem;
    }
}

@mixin margin-content{
    margin: auto 0rem auto 0rem;
    @include media-min("mobile-down"){
        margin: 0 1rem 2rem 1rem;
    }    
/*     @include max-media("mobile"){
        margin: auto 0rem auto 0rem;
    } */
/*     @include min-media("mobile-down"){
        margin: 0 2rem 2rem 2rem;
    } */
    @include media-min("laptop-down"){
        margin: 0 5rem 2rem 5rem;
    }
}