
@mixin padding-lft-rgt($key1){
    padding-left: $key1;
    padding-right: $key1;
}

@mixin padding-top-btm($key1){
    padding-top: $key1;
    padding-bottom: $key1;
}

@mixin padding-main{
    @include padding-lft-rgt(1rem);
    @include media-min("mobile-down"){
        @include padding-lft-rgt(1rem);
/*         background: yellow; */
    }
    @include media-min("tablet-down"){
        @include padding-lft-rgt(10%);
/*         background: orange; */
    }
    @include media-min("laptop"){
        @include padding-lft-rgt(10%);
/*                 background: red; */
    }
    @include media-min("laptop-down"){
        @include padding-lft-rgt(15%);
/*         background: blue; */
        
    }
    @include media-min("desktop"){
        @include padding-lft-rgt(25%);
/*         background: green; */
    }
}

@mixin margin-content{
    margin: 0 0rem 0 0rem;
    @include media-min("mobile-down"){
        margin: 0 5% 0rem 5%;
    }    
    @include media-min("laptop-down"){
        margin: 0 5rem 0rem 5rem;
    }
}