/* @mixin mobile-only{
    @media screen and (max-width : map-get($breakpoints, mobile)){
        @content;
    }
}

@mixin landscpate-mobile-only{
    @media screen and (max-width : map-get($breakpoints, landscape-mobile)){
        @content;
    }
}

@mixin tablet-only{
    @media screen and (max-width : map-get($breakpoints,tablet)){
        @content;
    }
}

@mixin landscape-tablet-only{
    @media screen and (max-width : map-get($breakpoints, landscape-tablet-only)){
        @content;
    }
}
 */

@mixin max-media($key){
    @media screen and (max-width: map-get($breakpoints, $key)){
        @content;
    }
}

@mixin min-media($key){
    @media screen and (min-width: map-get($breakpoints, $key)) and (max-width: map-get($breakpoints, laptop-down)){
        @content;
    }
}

/* $margin-header: 30rem;
$width-header-el: 18rem; */

/* @include max-media("desktop"){
    $margin-header: 15rem;
    $width-header-el: 14rem;
} */

@mixin padding-main{
    padding: 1rem 26rem 1rem 26rem;
    @include max-media("desktop"){
        padding: 1rem 10rem 1rem 10rem;
    }
        @include max-media("mobile"){
        padding: 1rem 1rem 1rem 1rem;
    }
    @include min-media("mobile-down"){
        padding: 1rem 1rem 1rem 1rem;
    }
}

@mixin margin-content{
    margin: 0 5rem 2rem 5rem;
    @include max-media("mobile"){
        margin: auto 0rem auto 0rem;
    }
    @include min-media("mobile-down"){
        margin: 0 2rem 2rem 2rem;
    }
}