$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-background: #ffffff;
$color-background-elements: #f6f6f6;
$color-background-location: #eaeaea;
$color-bkgrd-footer: #353535;
$color-font-footer: white;
$color-footer: white;
$color-icon: #7e7e7e;
$color-hover: #f5edff;

$padding-section: 2rem;



$box-shadow: 0px 12px 5px -6px rgba(0,0,0,0.17);
$box-shadow-hover: 0px 12px 5px -6px rgba(0,0,0,0.22);


$breakpoints: (
    "mobile-down": 500px,
    "tablet": 768px,
    "tablet-down": 900px,
    "laptop": 1024px,
    "laptop-down": 1280px,
    "desktop": 1440px
);




